In [1]:
__author__ = "whackadoodle"

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.plotly as py
import plotly.graph_objs as go
import warnings
warnings.filterwarnings('ignore')

## Reading the Data

In [2]:
global_temperatures_df = pd.read_csv("../input/GlobalTemperatures.csv")

global_temperatures_df.columns.values

array(['dt', 'LandAverageTemperature', 'LandAverageTemperatureUncertainty',
       'LandMaxTemperature', 'LandMaxTemperatureUncertainty',
       'LandMinTemperature', 'LandMinTemperatureUncertainty',
       'LandAndOceanAverageTemperature',
       'LandAndOceanAverageTemperatureUncertainty'], dtype=object)

In [3]:
global_temperatures_df.head(20)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
5,1750-06-01,12.937,1.724,NaN,NaN,NaN,NaN,NaN,NaN
6,1750-07-01,15.868,1.911,NaN,NaN,NaN,NaN,NaN,NaN
7,1750-08-01,14.750,2.231,NaN,NaN,NaN,NaN,NaN,NaN
8,1750-09-01,11.413,2.637,NaN,NaN,NaN,NaN,NaN,NaN
9,1750-10-01,6.367,2.668,NaN,NaN,NaN,NaN,NaN,NaN
10,1750-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1750-12-01,2.772,2.970,NaN,NaN,NaN,NaN,NaN,NaN
12,1751-01-01,2.495,3.469,NaN,NaN,NaN,NaN,NaN,NaN
13,1751-02-01,0.963,3.827,NaN,NaN,NaN,NaN,NaN,NaN
14,1751-03-01,5.800,3.051,NaN,NaN,NaN,NaN,NaN,NaN
15,1751-04-01,7.670,2.368,NaN,NaN,NaN,NaN,NaN,NaN
16,1751-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1751-06-01,13.827,1.801,NaN,NaN,NaN,NaN,NaN,NaN
18,1751-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1751-08-01,14.405,2.296,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Number of Null values in each field
global_temperatures_df.isnull().sum()

dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
dtype: int64

In [5]:
global_temperatures_df['dt'] = pd.to_datetime(global_temperatures_df['dt'])
global_temperatures_df['month'] = global_temperatures_df['dt'].map(lambda x: x.month)
global_temperatures_df['year'] = global_temperatures_df['dt'].map(lambda x: x.year)

global_temperatures_yearly = global_temperatures_df.groupby('year')


trace = go.Scatter(
    x = global_temperatures_df['year'].unique(),
    y = global_temperatures_yearly['LandAverageTemperature'].aggregate(np.mean),
    name = 'Average Land Temperature',
    line = dict(
        color = ('rgb(255,128,0)')
    )
)


data = [trace]
layout = go.Layout(
    title = 'Average Land Temperture of the Earth from 1750 to 2015',
    xaxis = dict(
        title = 'Year'
    ),
    yaxis = dict(
        title = 'Average Land Temperature'
    )
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, file_name='basic-line')

In [6]:
global_temperatures_df = global_temperatures_df[pd.notnull(global_temperatures_df['LandMaxTemperature'])]

global_temperatures_yearly = global_temperatures_df.groupby('year')

trace1 = go.Scatter(
    x = global_temperatures_df['year'].unique(),
    y = global_temperatures_yearly['LandAverageTemperature'].aggregate(np.mean),
    name = 'Average Land Temperature',
    line = dict(
        color = ('rgb(255,128,0)')
    )
)

trace2 = go.Scatter(
    x = global_temperatures_df['year'].unique(),
    y = global_temperatures_yearly['LandMaxTemperature'].aggregate(np.mean),
    name = 'Maximum Land Temperature',
    line = dict(
        color = ('rgb(255,0,0)')
    )
)

trace3 = go.Scatter(
    x = global_temperatures_df['year'].unique(),
    y = global_temperatures_yearly['LandMinTemperature'].aggregate(np.mean),
    name = 'Minimum Land Temperature',
    line = dict(
        color = ('rgb(0,0,255)')
    )
)


data = [trace1, trace2, trace3]
layout = go.Layout(
    title = 'Land Temperture of the Earth from 1750 to 2015',
    xaxis = dict(
        title = 'Year'
    ),
    yaxis = dict(
        title = 'Land Temperature'
    )
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, file_name='basic-line')

# Visualizing the Average Temperatures in Countries

In [7]:
countries_temperatures_df = pd.read_csv("../input/GlobalLandTemperaturesByCountry.csv")

countries_temperatures_df.columns.values

array(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty',
       'Country'], dtype=object)

In [8]:
countries_temperatures_df.head(10)

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland
5  1744-04-01               1.530                          4.680   Åland
6  1744-05-01               6.702                          1.789   Åland
7  1744-06-01              11.609                          1.577   Åland
8  1744-07-01              15.342                          1.410   Åland
9  1744-08-01                 NaN                            NaN   Åland

In [9]:
countries_temperatures_df.isnull().sum()

dt                                   0
AverageTemperature               32651
AverageTemperatureUncertainty    31912
Country                              0
dtype: int64

In [10]:
countries_temperatures_df = countries_temperatures_df[~countries_temperatures_df['Country'].isin(['Denmark', 'Antarctica', 'France', 'Europe', 'South America', 'Africa', 'United Kingdom', 'Netherlands'])]

countries_temperatures_df = countries_temperatures_df.replace(['Denmark (Europe)', 'Netherlands (Europe)', 'France (Europe)', 'United Kingdom (Europe)'], ['Denmark', 'Netherlands', 'France', 'United Kingdom'])

In [11]:
countries_aggregate_temperatures = countries_temperatures_df.groupby('Country')

countries = countries_temperatures_df['Country'].unique()
mean_temp = []
for country in countries: 
    mean_temp.append(countries_temperatures_df[countries_temperatures_df['Country']==country]['AverageTemperature'].mean())

data = [ dict(
        type = 'choropleth',
        locations = countries,
        #z = countries_aggregate_temperatures['AverageTemperature'].aggregate(np.mean),
        z= mean_temp,
        locationmode = 'country names',
        text = countries,
        marker = dict(line = dict(color = 'rgb(0,0,0)', width = 1)),
        colorbar = dict(autotick = True, tickprefix = '', title = 'Average Temperature (°C)')
    )
]

layout = dict(
    title = 'Average Land Temperature in Countries',
    geo = dict(
        showframe = False,
        showocean = True,
        oceancolor = 'rgb(0,255,255)',
        projection = dict(
            type = 'orthographic',
            rotation = dict(
                lon = 60,
                lat = 10
            ),
        ),
        lonaxis = dict(
            showgrid = True,
            gridcolor = 'rgb(102,102,102)'
        ),
        lataxis = dict(
            showgrid = True,
            gridcolor = 'rgb(102,102,102)'
        )
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, validate=False, filename='worldmap')